# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*venv*


# docker
docker/volumes
volumes/

.DS_Store
data/